<!DOCTYPE html>
<html>
  <head>
    <title>Biddr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  </head>

  <body>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "New Auction", new_auction_path %>
    |
    <% if user_signed_in? %>
    Welcome, <%= current_user.full_name %>!
    |
    <%= link_to "Sign Out", sessions_path, method: :delete %>
    |
    <%= link_to "All Auctions & Bids", auctions_index_all_path  %>
    <% else %>
    <%= link_to "Register", new_user_path %>
    |
    <%= link_to "Sign In", new_session_path %>
    <% end %>
    <hr>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
